---
layout: layouts/base.njk
---
<link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
<style>
  @media (prefers-color-scheme: dark) {
    :root {
      --pagefind-ui-primary: #eeeeee;
      --pagefind-ui-text: #eeeeee;
      --pagefind-ui-background: #152028;
      --pagefind-ui-border: #152028;
      --pagefind-ui-tag: #152028;
    }
  }
</style>
<div id="search" class="search"></div>
<script src="/_pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
<!-- Message Block if needed
<style>{% include "css/message-box.css" %}</style>
<div class="message-box">
	<ol>
		<li>Edit <code>_data/metadata.js</code> with your blog’s information.</li>
		<li>(Optional) Edit <code>eleventy.config.js</code> with your <a href="https://www.11ty.dev/docs/config/">configuration preferences</a>.</li>
		<li>Delete this message from <code>_includes/layouts/home.njk</code>.</li>
	</ol>
	<p><em>This is an <a href="https://www.11ty.dev/">Eleventy project</a> created from the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
</div>
 -->

{{ content | safe }}
